DATABASE_URL="postgresql://postgres:6DLn.%26XkA9fgML8@db.sjjzoxcmtgzbyunnmopo.supabase.co:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://postgres:6DLn.%26XkA9fgML8@db.sjjzoxcmtgzbyunnmopo.supabase.co:5432/postgres?sslmode=require"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
